.slider_text{
    color: black;
}
.background{
    background-image: url(./img/bg-img.jpg);
}
.carousel-item{
    margin: 30px 0px;
}
.card{
    margin: 30px 0px;
}
.alert p{
    text-align: center;
}
.alert{
    text-align: center;
}
.alert li{
    text-align: center;
}
.card-title{
    text-align: center;
}
.icon{
    font-size: 40px;
    text-align: center;
    margin: 10px 0px;
}
.bg-info{
    height: 100px;
}
.bg-info li{
    display: inline;
}
.footer_icon{
    font-size: 20px;
    margin: 20px 0px 0px 10px;
}
.footer_create{
    margin: 0px 0px 0px 200px;
}